providers = ["node"]

[phases.setup]
nixPkgs = ["nodejs_22", "pnpm"]

[phases.install]
cmds = ["pnpm install --frozen-lockfile"]

[phases.build]
cmds = ["pnpm exec turbo run build"]

[start]
cmd = "pnpm --filter @condev-ui/site start"
