/* stylelint-disable selector-class-pattern */
.ͼ1 .cm-scroller,
.ͼ3s.cm-editor .cm-scroller {
  line-height: 1.6em;
  font-family: Menlo, Consolas, monospace;
}

.cm-gutters {
  opacity: 0.4;
}

.ͼ1.cm-focused {
  outline: none;
}

.cm-editor.cm-focused .cm-gutters {
  opacity: 1;
}

.cm-editor {
  padding: 24px 48px;
}
